* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif; 
	font-size: small;
	color: #404040
}

a {
	color: inherit;
}

li:hover {
	text-decoration: underline; 
}

#nav {
	text-align: right; 
	margin-right: 25px;
	line-height: 60px;
	position: relative;
}

#nav ul {
	list-style-type: none;
}

#nav li {
	display: inline;
	padding-left: 8px;
	text-align: -webkit-match-parent;
	font-size: 13px;
}

#nav img {
	display: inline-block;
	vertical-align: middle;

	margin-left: 5px;
	opacity: 0.50;
	line-height: 24px;
}

#nav img:hover {
	opacity: 0.8; 
}

#sign-in {
	display: inline-block;
	width: 65px;
	height: 30px;
	margin-left: 5px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	background-color: #4285f4;
	border-radius: 2px;
	color: #fff;

}

#main {
	width: 750px;
	margin: 137px auto 0px auto;
}

#logo {
	width: 272px;
	display: block;
	margin: 0 auto;
	padding-bottom: 30px;
}

input[type=text] {
	display: block;
	width: 579px;
	height: 28px;
	margin: 0 auto;
	padding: 5px 10px;
	border: 1px solid #ccc;
	font-size: 14px;
	background-color: #fff;
}

input[type=text]:hover {
	border: 1px solid #999;
}

input[type=text]:focus {
	border: 1px solid #4285f4;
}

#YTMusic {
	text-align: center;
	font-size: 13px;
}

red {
	color: #ff0000;
}

#buttons {
	padding-top: 36px;
	padding-bottom: 20px; 
	text-align: center;
}

.button {
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	color: #737373;

	display: inline-block;
	padding: 10px 12px;
	margin-right: 10px;


	border-radius: 2px;
	text-align: center;

	background: #f5f5f5;
	background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
}

#footer {
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	height: 40px;

	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

#footer ul {
	list-style-type: none; 
}

#footer li {
	display: inline; 
	color: #666;
	margin-right: 25px;
}

#left_footer {
	float: left;
	margin-left: 30px;
	margin-top: 10px;
}

#right_footer {
	float: right; 
	margin-right: 5px;
	margin-top: 10px;
}
